
<form name="form" novalidate >
    <div class="modal-header alert alert-info">
        <h4>任务信息维护</h4>
    </div>
    <div class="modal-body">
        <label>名称</label>
        <input type="text" ng-model="task.name" class="form-control" required autofocus>
        <label>预计(hs)</label>
        <input type="number" ng-model="task.estimation" class="form-control">
		<label>负责人</label>
		<ui-select ng-model="task.assignedUserId" close-on-select="true">
   　　　　　　　  	<ui-select-match placeholder="请选择 ...">{{$select.selected.name}}</ui-select-match>
    　　　　　　　		<ui-select-choices repeat="u._id as u in users | filter:$select.search">
                        {{u.name}}&lt;{{u.mobileNo}}&gt;
                         </ui-select-choices>
        </ui-select>

     </div> 
    <div class="modal-footer">
        <button class="btn btn-primary login" ng-click="save()" ng-disabled='form.$invalid'>保　存</button>

    </div>
</form>

