<div class="well" ng-controller="UsersEditCtrl">
    <form name="form" novalidate >
        <legend>用户列表</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>手机号</label>
                    <input type="text" name="mobileNo" ng-model="user.mobileNo" class="form-control" required autofocus　unique-mobile-no>
                    <br>
                    <span ng-show="showError('mobileNo', 'required')" class="help-inline">必须输入！</span>
                    <span ng-show="showError('mobileNo', 'uniqueMobileNo')" class="help-inline">该号已被占用，请重新输入！</span>
                </div>
                <div class="form-group">
                    <label>昵称</label>
                     <input type="text"  name="name" ng-model="user.name" class="form-control">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <br>
                     <input type="password"  name="password" ng-model="user.password" class="form-control"　　required>
                   　<span ng-show="showError('password', 'required')" class="help-inline">必须输入！</span>
                </div>
                <div class="form-group">
                    <label>密码确认</label>
                     <input type="password"  name="passwordRepeat" ng-model="password" class="form-control"　required validate-equals="user.password">
                    <br>　　　　　　　
                    <span ng-show="showError('passwordRepeat', 'required')" class="help-inline">必须输入！</span>
      　　　　　　  <span ng-show="showError('passwordRepeat', 'equal')" class="help-inline"密码不匹配！</span>
                </div>
            </div>
            <div class="col-md-6">
				<div class="form-group">
				<label>技能特长</label>	
				  <ui-select multiple ng-model="user.skills" theme="bootstrap" close-on-select="false" style="width: 300px;" title="请选择">
   　　　　　　　　　 <ui-select-match placeholder="Select ...">{{$item}}</ui-select-match>
    　　　　　　　　　<ui-select-choices repeat="skill in availableSkills | filter:$select.search">
                    {{skill}}
                     </ui-select-choices>
                  </ui-select>
                </div>
				<div class="form-group">
                <label>注册日期(demo)</label>
			    <p class="input-group">
                  <input type="text" class="form-control" datepicker-popup="YYYY-MM-dd" ng-model="user.regDate" is-open="opened" min-date="2015-01-22" max-date="'2016-06-22'"  close-text="关闭" />
                  <span class="input-group-btn">
                     <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
				 </div>
      	        <div class="form-group">
                    <label>类型</label>
                    <input type="text" name="type" ng-model="user.type" class="form-control" >
                </div>
                <div class="form-group">
                    <label>是管理员？</label>
                     <input type="checkbox" ng-model="user.isAdmin">
                 </div>
                 <div class="form-group">
                    <label>是否有效？</label>
                     <input type="checkbox" ng-model="user.isActive">
                 </div>
             </div>
      </div>
      <hr>
      <crud-buttons></crud-buttons>
    </form>
</div>
