
/*
.container {
	width: 80%;
	margin: auto;
	min-width: 1100px;
	max-width: 1300px;
	position: relative;
}*/

@media (min-width: 750px) and (max-width: 970px){
	.container {
		width: 100%;
		min-width: 750px;
	}
}


.sortable-ghost {
	opacity: .2;
}

img {
	border: 0;
	vertical-align: middle;
}


.tileName {
		font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
	   font-size: 28px;
		padding-bottom: 10px;
		border-bottom: 1px solid #FF7373;
	}

.tileList {
		margin-top: 10px;
	}
		.tileList:last-child {
			margin-right: 0;
			min-height: 80px;
		}

		.tileList img {
			cursor: move;
			margin: 10px;
		
		/*	border-radius: 100%;*/
}
