<div class="well" >
    <form name="form" novalidate crud-edit="item" >
        <legend>修改信息</legend>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>项目名称</label>
                    <input type="text" name="name" ng-model="item.name" required ng-minlength="10" ng-maxlength="10" class="form-control"  autofocus>
                    <br>
					 <ng-messages for="form.name.$error" multiple>
					   <ng-message when="required">必须输入标题！</ng-message>
					   <ng-message when="minlength">不能少于4个字符</ng-message>
					   <ng-message when="maxlength">不能多于10个字符</ng-message>
					</ng-messages>
           
                </div>
            	<div class="form-group">
				　<label>标签</label>	
				    <div class="col-md-12">
				       <dropdown-multiselect ng-model="item.tags" options="availableTags"></dropdown-multiselect>
			        </div>
                </div>
                <div class="form-group">
				　<label>开发成员</label>	
				   <!--  <input type="text" name="userNameFilter" ng-model="userNameFilter" >
				   users | filter:userNameFilter
				   -->
				    <div class="col-md-12">
				       <dropdown-multiselect ng-model="item.teamMembers" options="users" id="_id" name="name"></dropdown-multiselect>
			        </div>
                </div>
             </div>
            <div class="col-md-6">
				 <div class="form-group">
                    <label>具体内容</label>
                    <textarea rows="10" cols="10" ng-model="item.desc" class="form-control"></textarea>
                </div>
             </div>
      </div>
      <div class="row">
            <hr>
            <crud-buttons class="col-md-12"></crud-buttons>
        </div>
    </form>
</div>

