<div class="row">
 <div class="col-md-3">
    <div class="well well-small">
      <ul class="nav nav-list">
		<input type="text" name="query" ng-model="query" placeholder="用关键字远端查..." > 
		<button class="btn btn-default" ng-click="search()">查询</button><br>
        <input type="text" name="txtFilter" ng-model="txtFilter" placeholder="本地过滤..." > 
        <li class="nav-header">最近访问</li>
        <li ng-repeat="item in visited" ui-sref-active="active">
        <a ui-sref="projects.detail({itemId:item.$id()})">{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div ui-view class="col-md-9 slide"></div>
</div>

