<ul class="nav navbar-nav navbar-right">
  <li>
      <p class="navbar-text" ng-show="isAuthenticated()">{{currentUser.name}}</p>
  </li>
  <li>
    <form class="navbar-form">
      <button ng-show="isAuthenticated()" class="btn btn-default logout" ng-click="logout()">注　销</button>
      <button ng-show="!isAuthenticated()" class="btn btn-default login" ng-click="login()">登　录</button>
      <button ng-show="!isAuthenticated()" class="btn btn-default " ng-click="login()">注　册</button>
    </form>
  </li>
</ul>
