<style>
.external-events {
		float: left;
		width:90%;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
	}

		
	.external-events .fc-event {
		margin: 10px 0;
		cursor: pointer;
	}
		
	.external-events .myevent {
		background: #000;
		color: #f66;
	}

</style>
<div class="row">
 <div class="col-md-3">
     <div class="col-md-12">
	     <h4>项目任务</h4>
         <div class='external-events'>
	       <div ng-repeat="task in tasks" class='fc-event'>{{task.name}}</div>
         </div>
     </div>
     <div class="col-md-12">
         <h4>个人事情</h4>
		
			   <form ng-submit="addMyEvent()">
			　　   <input type="text" ng-model="newText" size="15"  placeholder="增加自己的事情">
			  </form>
			  <div class='external-events'>
	             <div ng-repeat="task in mytasks" class='fc-event myevent' ">{{task.title}}</div>
           </div>

    </div>
 </div>

 <div class="col-md-9 ">
  	   <div class="box box-primary">
           <div class="box-body no-padding">
               <div id="calendar"></div>
           </div>
       </div>

<!--
     <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>-->


</div>


</div>


