<div class="row">
 <div class="col-md-3">
	<h4>我的项目</h4> 
    <div class="well well-small">
      <ul class="nav nav-list">
        <li ng-repeat="prj in projects" ui-sref-active="active">
           <span>{{prj.name}}</span> 
        </li>
      </ul>
    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <div class="col-md-9 ">
	  <h4>我的任务</h4>
     <table class="table table-bordered table-condensed table-striped table-hover">
     <thead>
      <tr>
        <th class="col-md-8">Name</th>
        <th class="col-md-1">Estimation</th>
        <th class="col-md-1">Remaining</th>
        <th class="col-md-2">Tools</th>
     </tr>
     </thead>
    <tbody>
    <tr ng-repeat="task in tasks">
        <td>{{task.name}}</td>
        <td>{{task.estimation}}</td>
        <td>{{task.remaining}}</td>
        <td>add|Delete</td>
        <td></td>
    </tr>
    <tr ng-show="!tasks.length">
        <td colspan="4">没有任务分贝给你！</td>
    </tr>
    </tbody>
   </table>
  
  </div>
</div>


