<h1>注册用户</h1>
<form ng-submit="register()">
  <p>
    <label class="control-label">手机号</label>
  	<input type="text" placeholder="mobileNo" ng-model="user.mobileNo" />
  </p>
  <p>
    <label class="control-label">昵称</label>
  	<input type="text" placeholder="name" ng-model="user.name" />
  </p>
  <p>
    <label class="control-label">密码</label>
  	<input type="password" placeholder="Password" ng-model="user.password" /><br/>
  </p>
  <p>
    <button type="submit" class="btn btn-primary">注册</button>
  </p>
  <p>

</form>
