<h1>Admin</h1>
<p>
	<a href="#/" ng-click="logout()">Logout</a>
</p>
<p>
	<a href="#/" >Home</a>
</p>
<div style="float:left; margin-right: 10px;">
	<h1>广播</h1>
	<form ng-submit="sendMsg(msg)">
	  <div class="form-group">
		<label class="control-label">标题</label>
		<input type="text" placeholder="请输入标题" ng-model="msg.title" />
	  </div>
	   <div class="form-group">
		  <label class="control-label">内容</label>
		  <textarea  cols="40" rows="10"
			ng-model="msg.text"
			ng-maxlength="200">
		</textarea>
	  </div>
	  <p>
		<button type="submit" class="btn btn-primary">提交</button>
	</form>
    <p ng-if="tip.length>0">
    <alert type="{{alert.type}}" dismissOnTimeout>{{tip}}</alert>
	</p> 
	<form name="myForm">
		<fieldset><legend>上传图片示例</legend>
			上传者: <input type="text" name="userName" ng-model="username"  size="39" required>
			<i ng-show="myForm.userName.$error.required">*required</i><br>
			图片文件: <input type="file" ng-file-select ng-model="picFile" name="file" accept="image/*" 
			ng-file-change="generateThumb(picFile[0], $files)" required>
			<i ng-show="myForm.file.$error.required">*required</i>
			<br/>
					  	
			<button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">提交</button>
			<img ng-show="picFile[0].dataUrl != null" ng-src="{{picFile[0].dataUrl}}" class="thumb">
			<span class="progress" ng-show="picFile[0].progress >= 0">						
			   <div style="width:{{picFile[0].progress}}%" ng-bind="picFile[0].progress + '%'"></div>
			</span>	
			<span ng-show="picFile[0].result">Upload Successful</span>
		</fieldset>
		<br/>
	</form>
	</div>


 
