<div class="row">
 <div class="col-md-3">
    <div class="well well-small">
      <ul class="nav nav-list">
          <li ng-repeat="item in myPrjs" ui-sref-active="active">
             <a ui-sref="backlogs({projectId:item._id})">{{item.name}}</a>
         </li>
      </ul>
    </div>
  </div>
  <div  class="col-md-9 slide　well">
		<div class="well">
			<!--<button class="btn btn-default" ng-click="create()">新增交付件</button>-->
			<p ui-sref-active="active"><a ui-sref="projects.list">返　回</a></p>
			<form ng-submit="addBacklog()">
			　　 <input type="text" ng-model="newText" size="15"  placeholder="增加新的交付件">
			</form>
			
		</div>
		<div class="col-md-4">
		　<div class="tileName">待分配：<span class="badge">{{todoItems.length}}</span></div>
			<div class="tileList" ng-sortable="todoConfig">
					<div ng-repeat="item in todoItems"  >
						<h4><span class="label label--info" >
							<a ng-click="edit(item)">({{item.estimation}}mh)-{{item.name|trim:18}}</a>
						</span></h4>
						 
					</div>
			</div>
		</div>
		<div class="col-md-4">
		　　<div class="tileName">进行中：<span class="badge">{{doingItems.length}}</span></div>
				<div  class="tileList" ng-sortable="doingConfig">
					<div   ng-repeat="item in doingItems" >
						<h4><span class="label label-warning">
							<a ng-click="edit(item)">({{item.estimation}}mh)-{{item.name|trim:18}}</a>
						</span></h4>
					</div>
				</div>
		</div>
		<div class="col-md-4" title>
		　　<div class="tileName">已完成：<span class="badge">{{doneItems.length}}</span></div>
				<div class="tileList" ng-sortable="doneConfig">
					<div  ng-repeat="item in doneItems" >
						<h4><span class="label label-success">
							<a ng-click="edit(item)">({{item.estimation}}mh)-{{item.name|trim:18}}</a>
						</span></h4>
					</div>
				</div>
		</div>
		<div class="col-md-12">
		　　<div class="tileName">已可用：<span class="badge">{{okItems.length}}</span></div>
				<div class="tileList" ng-sortable="okConfig">
					<div  ng-repeat="item in okItems" class="col-md-6">
						<h3><span class="label label-success">
							<a ng-click="edit(item)">({{item.estimation}}mh)-{{item.name|trim:18}}</a>
						</span></h3>
					</div>
				</div>
		</div>
　　</div>
		
</div>

