<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- http://v3.bootcss.com/css/！ -->
   <title>AngularJS and Sortable demo</title>
   <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
   <link href="app.css" rel="stylesheet" type="text/css"/>
   <script src="lib/angular.min.js"></script>
   <script src="lib/Sortable.js"></script>
   <script src="lib/ng-sortable.js"></script>
   <script src="app.js"></script>

  
</head>
<body ng-app="myApp">
	<div class="layer title title-xl">KANBAN Drag demo</div>
	<div id="multi" class="container"  ng-controller="demo">
			<div class="layer tile" >
				<div class="tileName">ToDO--{{items1.length}}</div>
				<div class="tileList" ng-sortable="todoConfig">
					<div  ng-repeat="item in items1"  class="col-md-6">
		                  <span class="badge col-md-4">{{item.effort}}</span>
					      <img ng-src="images/{{item.img}}"  class="img-circle">
					</div>
				</div>
			</div>

			<div class="layer tile" >
				<div class="tileName">Doing--{{items2.length}}</div>
				<div class="tileList" ng-sortable="doingConfig">
					<div  ng-repeat="item in items2"  class="col-md-6">
		                  <span class="badge col-md-4">{{item.effort}}</span>
					      <img ng-src="images/{{item.img}}"  class="img-circle">
					</div>
				</div>
			</div>

			<div class="layer tile">
				<div class="tileName">Done--{{items3.length}}</div>
				<div class="tileList" ng-sortable="doneConfig">
					<div  ng-repeat="item in items3"  class="col-md-6">
		                  <span class="badge col-md-4">{{item.effort}}</span>
					      <img ng-src="images/{{item.img}}"  class="img-circle">
					</div>

				</div>
			</div>

	</div>
    <div><div data-force="5" class="layer title title-xl">ToDO List</div></div>
	<div id="todos"  class="container" style="margin-top: 100px">
		<div style="margin-left: 30px">


			<div style="width: 30%; margin-top: -8px; margin-left: 10px; float: left;" class="block__list block__list_words">
				<div ng-controller="TodoController">
					<span style="padding-left: 20px">{{remaining()}} of {{todos.length}} remaining</span>
					[ <a href="" ng-click="archive()">archive</a> ]
					<ul ng-sortable="{ group: 'todo', animation: 150 }" class="unstyled">
						<li ng-repeat="todo in todos">
							<input type="checkbox" ng-model="todo.done">
							<span class="done-{{todo.done}}">{{todo.text}}</span>
						</li>
					</ul>
					<form ng-submit="addTodo()" style="padding-left: 20px">
						<input type="text" ng-model="todoText" size="15"
							   placeholder="add new todo here">
	<!--					<select class="form-control">
						  <option>1</option>
						  <option>2</option>
						  <option>3</option>
						  <option>4</option>
						  <option>5</option>
						</select>
						<select multiple class="form-control">
						  <option>Tech</option>
						  <option>Game</option>
						  <option>News</option>
						</select>
-->
					</form>
				</div>
			</div>


			<div style="clear: both"></div>
		</div>
	</div>


</body>
</html>
