<h2>问题列表</h2>
<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>名称</th>
        <th>类型</th>
        <th>状态</th>
		<th>优先级</th>
		<th>问题来源</th>
		<th>来源名称</th>
         <th ng-if="isAdmin()">操作</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in data | filter:curProjectName" ng-click="view(item)">
        <td>{{item.name}}</td>
		<td>{{item.type}}</td>
		<td>{{item.state}}</td>
        <td>{{item.priority}}</td>
		<td>{{item.targetType}}</td>
		<td>{{item.target}}</td>
        <td ng-if="isAdmin()"><button class="btn btn-danger remove" ng-click="remove(item, $index, $event)">删除</button></td>
    </tr>
    </tbody>
</table>
<pagination total-items="totalItems" ng-model="currentPage" num-per-page="numPerPage"
max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" 
previous-text="上页" next-text="下页" first-text="首页" last-text="尾页"
num-pages="numPages">
</pagination>
<div class="row well">
  <div ui-view class="col-md-12 slide"></div>
</div>

